html {
    min-height: 100%;
    position: relative;
}

body {
    padding: 0 0;
    width: 100%;
    height: 100vh;
    background-color: #3a1e3c;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size: 1em;
    margin: 0;
    /* margin-bottom: 40px; */
    /* padding-bottom:0; */

    /* background-image: url('../img/cielo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.profImg {
    width: auto;
    height: 300px;
}
.profJuego {
    background-color: white;
}
.navbar {
    background-color: #097c79;
}
.dropdown-menu {
    background-color: #097c79;
}
.botoncito {
    white-space: normal;
}
.dropdown-menu a {
    color: white;
}

.welcomeTitulo {
    margin: 25px auto;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 3.3em;
}
.welcomeJuegos {
    color:  #fff;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    height:60px;
    width: auto;

}

#buttonWelcome {
  color:  #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color:#409ca6;
  font-size: 1.1em;
  border-style: solid;
  border-color: #252022;
  margin: 25px;
}


.welcomeTexto {
    font-family: "Press Start 2P", cursive;
    background-color:#252022;
    color:   #3eff00;
    font-size: 0.75em;
    width: 60%;
    height: auto;
    border-color: #252022;
}

.welcomeJuegos:hover {
    color: yellow;
}
.loginCard {
    margin-top: 20%;
}
.emailCard {
    margin-top: 20%;
}
.homeCard {
    margin-top: 10%;
}
.juegoCard {
    /* margin-top: 2%; */
    border-color: black;
      /* background-image: url("../img/paisaje.png"); */
    /* width: 400px; */
    height: 90%;
    background-color: #2e6dae;
}
.juegoCardIn {
    /* margin-top: 2%; */
    margin-bottom: 10px;
    border-color: black;
    /* background-image: url("../img/pizarra.jpg"); */

    /* width: 400px; */
}
.alert{
    margin-top:10px;
}
.juegoHeader {
    height: 100px;
    border-bottom: solid black 2px;
}
.juegoCardBody {
    padding-bottom: 0%;
    border-radius: 30px;
}
.juegoNombre {
    margin-top: 80px;
    text-align: center;
    font-size: 1.6em;
    color:  #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight:500;

}

.juegoCreate {
    font-family: "Press Start 2P", cursive;
    margin-top: 10%;
}
.profQuiz {
    height: 300px;
    /* margin-bottom: 20px; */
}
.profQuizSon {
    overflow: scroll;
}
.card-header {
    text-align: center;
    color:  #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

    background-color:#d4546a;

    font-size: 1.2em;


}

.card-header button {
    color: white;
    font-size: 1em;
}
.card-header button:hover {
    color: white;
    text-decoration: none;
}

.top-body {
    font-size: 1.1em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.tituloTop{
  color:  #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.topCard {
    margin-top: 10%;
}

.faqsText {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.card-footer{
  background-color:  #eca83f;
  height: 60px;
  text-align: center;

}

#buttonCheck {
  color:  #252022;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
  background-color: #3eff00;

}

.btn-editarPregunta{
  text-align: center;
}

#checkA {
    top: 12%;
}

.editQuiz {
    margin-top: 6%;
    /* margin-bottom: 10px; */
}

.nivelCardBody {
    background-color: #409ca6;
}
detallePregunta {
    color: black;
    font-size: 1.5em;
    text-align: center;
    color:  #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

}

.detalleRespuesta {
    font-size: 1.3em;
    text-align: left;
    color:  #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.contactoCard {
    margin-top: 15%;
    font-family: "Press Start 2P", cursive;
}

.registerCard {
    margin-top: 100px;
    font-family: "Russo One", cursive;
    font-size: 1em;
    background-color: #cdade0;
}
.registerCardProfile {
    margin-top: 100px;
    font-family: "Russo One", cursive;
    font-size: 1em;
    background-color: #cdade0;
}
.perfilHeader {
    font-size: 1.75em;
}
.faqsCard h1{
    -webkit-text-stroke: 1.2px black;
}
.faqsCard {
    margin-top: 7%;
    /* background-image: url("../img/fondoTop.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.presentacionJuego {
    display: inline;
}

.image_juegos {
    width: 200px;
    height: auto;
    /* margin-left: -50%; */
    margin-top: 20px;
    border-radius: 10%;
}
.image_profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

h1 {
    margin-top: 50px;
    color: white;
}

h1.bienvenido {
    margin-top: 90px;
    color: green;
    font-family: "Press Start 2P", cursive;
    font-size: 1.5em;
    margin-left: -2%;
}
h5.juegoHeader {
    margin: auto auto;
}

@media (max-width: 520px) {
    h1.bienvenido {
        font-size: 1em;
    }
    .puntaje strong {
        font-size: 0.8em;
    }
    footer {
        font-size: 10px;
        position: fixed;
    }
    .pagination {
        margin-top: 20px;
    }
}

h4.linkJugar {
    /* position: relative; */
    color: #efa929;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    z-index: 1;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
h4.linkJugar:hover {
    animation-name: rotacion;
    animation-duration: 2s;
}
p.puntaje {
    font-size: 1.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 30px;
    border-radius: 30px;
    color:  #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

}

.infoJuegoCreado {
    font-size: 1.25em;
    margin-bottom: 200px;
    font-weight: lighter;
    border-style: solid;
    background-color: #252022;
    border-radius: 5px;
    border-style: solid;
    padding:10px;


}

.imagenTipoFlecha {
    position: absolute;
    top: 10%;
    left: 100%;
}
.imagenTipoInformacion {
    position: absolute;
    top: 10%;
    right: 90%;
}
.alertInformacionTipo {
  position: fixed;
  top: 20%;
  left: 5%;
  height: 40%;
  width: 330px;
  height: auto;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: left;
  border-style:dotted;
  color: #3EFF00;
  background-color: #252022;
  font-family: "Press Start 2P", cursive;

}

.imagenEstudiante {
    position: absolute;
    width: 110%;
    height: 110%;
}

.imagenCopa {
    position: fixed;
    width: 180px;
    height: 180px;
    margin-left: -300px;
    margin-top: 100px;
}
.imagenRocket {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: -120%;
    margin-top: 3%;
}
.imagenTetris {
    position: absolute;
    width: 320px;
    height: 320px;
    margin-left: -420%;
    margin-top: -30%;
}

/* .imagenTipoComputadora{
    position: absolute;
    top:70%;
    left: 70%;
} */
.imagenHombrePregunta {
    position: fixed;
    top: 20%;
    left: -2%;
    height: 40%;
}
.imagenTipoIdea {
    position: absolute;
    top: 10%;
    left: 85%;
}
.volverJuegos {
    margin-left: 85%;
}

.homeCard {
    /* background-image: url("../img/pizarra.jpg"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #b39031;
    color: #3a1e3c;
    margin-top:12.6%;
    background-color: #3a1e3c;
}
footer {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    padding-top: 0.3%;
    text-align: center;
    font-size: 5px;
    /* font-size: 1em; */
}
.pagination {
    margin-top: 80px;
}
.buscador {
    margin-top: 20%;
}
@keyframes rotacion {
    50% {
        color: gold;
    }
    100% {
        transform: rotate(360deg);
        color: white;
    }
}
@media (max-width: 1550px) {
    .imagenHombrePregunta {
        display: none;
        position: absolute;
        top: 90px;
        left: 70%;
        height: 22%;
    }
}

@media (max-width: 770px) {
    .imagenHombrePregunta {
        display: none;
    }
}
@media (max-width: 1024px) {
    .imagenTipoIdea {
        display: none;
    }
    .imagenTipoFlecha {
        display: none;
    }
    .imagenTipoInformacion {
        display: none;
    }
    .imagenHombrePixel {
        display: none;
    }
    .imagenRocket {
        display: none;
    }
    .imagenTetris {
        display: none;
    }

    .imagenCopa {
        display: none;
    }

    .alertInformacionTipo {
        display: none;
    }
    .juegoHeader {
        height: 100px;
    }
    .imagenEstudiante {
        display: none;
    }

    .welcomeTexto {
      display: none;
  }

    h4.linkJugar {
        /* position: absolute; */
        top: 50%;
        left: 24%;
        /* color: white; */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 2em;
        font-weight: bold;
        z-index: 1;
    }
}
